<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <h1>Olá, {{ username}}!<br> Seja bem-vindo à sala de chat {{ room }}</h1>

    <div id="messages"></div>
    
    <form id="msg-input-form">
        <input type="text" id="msg-field"placeholder="Sua mensagem...">
        <button type="submit">Enviar</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script> <!-- Lado do cliente -->
    <script>
        const socket = io.connect('http://127.0.0.1:5000/');


        socket.on('connect', () => {
            socket.emit('entrou_sala', {
                username: "{{ username }}",
                room: "{{ room }}"
            });
            let msgField = document.getElementById('msg-field')
            let form = document.getElementById('msg-input-form')
            form.addEventListener('submit', (e) => {
                let msg = msgField.value.trim()
                e.preventDefault()
                if(msg.length) { // Se a mensagem não está vazia
                    socket.emit('enviou_msg', {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        message: msg // Quando usuário disparar a msg, o objeto de comunicação entre servidor 
                    });                     // Passará a incluir o atributo mensagem
                };
                msgField.value = '';
                msgField.focus()
            });
        });

        socket.on('anuncio_de_entrada', (info) => {
            console.log(`${info.username} acabou de entrar na sala ${info.room}`);
            // Criando Bloco de chat
            let chatDiv = document.querySelector('.chat-div')
            console.log(chatDiv)
            if(!chatDiv){
                chatDiv = document.createElement('div');
                chatDiv.className = 'chat-div'
            };
            chatDiv.innerHTML += `<b>${info.username}</b> entrou na sala.<br>`;
            document.getElementById('messages').appendChild(chatDiv);
        });

        socket.on('recebeu_msg', (info)=> {
            const chatDiv = document.querySelector('.chat-div')
            chatDiv.innerHTML += `<b>${info.username}</b>: ${info.message}<br>`
        })
    </script>
</body>
</html>