<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <h1>Olá, {{ username}}!<br> Seja bem-vindo à sala de chat {{ room }}</h1>

    <div id="messages">
        <div class="chat-div"></div>
    </div>
    
    <form id="msg-input-form">
        <input type="text" id="msg-field"placeholder="Sua mensagem...">
        <button type="submit">Enviar</button>
    </form>

    <button id="quit-btn"> Sair da Sala</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script> <!-- Lado do cliente -->
    <script>
        const socket = io.connect('http://127.0.0.1:5000/');


        socket.on('connect', () => {
            socket.emit('entrou_sala', {
                username: "{{ username }}",
                room: "{{ room }}"
            });
            let msgField = document.getElementById('msg-field')
            let form = document.getElementById('msg-input-form')
            let btn_sair = document.getElementById('quit-btn')
            // Envio de mensagem
            form.addEventListener('submit', (e) => {
                let msg = msgField.value.trim()
                e.preventDefault()
                if(msg.length) { // Se a mensagem não está vazia
                    socket.emit('enviou_msg', {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        message: msg // Quando usuário disparar a msg, o objeto de comunicação entre servidor 
                    });                     // Passará a incluir o atributo mensagem
                };
                msgField.value = '';
                msgField.focus()
            });
            // Sair da sala
            btn_sair.addEventListener('click',() => {
                socket.emit('apertou_sair', { 
                    username: "{{ username }}",
                    room: "{{ room }}"
                });
                window.location.href = '/';
            });
        });

        socket.on('anuncio_de_entrada', (info) => {
            console.log(`${info.username} acabou de entrar na sala ${info.room}`);
            // Criando Bloco de chat
            const chatDiv = document.querySelector('.chat-div')
            chatDiv.innerHTML += `<b>${info.username}</b> entrou na sala.<br>`;
            document.getElementById('messages').appendChild(chatDiv);
        });

        socket.on('receber_msg', (info)=> {
            const chatDiv = document.querySelector('.chat-div')
            chatDiv.innerHTML += `<b>${info.username}</b>: ${info.message}<br>` // FIXME
        });

        socket.on('anuncio_de_saida', (info) => {
            const chatDiv = document.querySelector('.chat-div')
            chatDiv.innerHTML += `<b>${info.username} Saiu da Sala.</b><br>`
        })
    </script>
</body>
</html>