<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <h1>Olá, {{ username}}!<br> Seja bem-vindo à sala de chat {{ room }}</h1>

    <div id="messages"></div>
    
    <form>
        <input type="text" placeholder="Sua mensagem...">
        <button type="submit">Enviar</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> <!-- Lado do cliente -->
    <script src="./chat.js"></script>
</body>
</html>