<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalaQui - Página Inicial</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/tailwind.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/1324b10db2.js" crossorigin="anonymous"></script>
</head>
<body class="bg-[url('../static/img/background-index.png')]">
    {% if not current_user.is_authenticated %} <!-- Account-related Buttons-->
        <div class="login-btns flex justify-end space-x-4">
            <a href="/login" style="text-decoration: none;">
                <button class="rounded-full bg-white p-1">
                    Login
                </button>
            </a>
            <a href="/register" style="text-decoration: none;">
                <button class="rounded-full bg-white p-1">
                    Cadastrar
                </button>
            </a>
        </div>

    {% endif %}


    <div class="title text-main text-white">
        <div style="display: flex; justify-content:center;"> 
            <a href="/" style="text-decoration: none;" >
                <h1 class="text-5xl font-bold text-center">FalaQui</h1>
            </a>
        </div>

        
        <h3 class="text-center text-3xl">Olá,
            {% if current_user.is_authenticated %}
                {{ current_user.username }} <a href="/logout/" style="text-decoration: none;"> <button> Sair</button></a>
                {% else %} Anônimo! 
            {% endif %}
        </h3>
    </div>


        <div class="flex justify-center items-center">
            <div class="container bg-blue-950 text-center border border-black rounded-md w-3/6 mt-5">
                <form action="/chat" class="my-5">
                    <h2 class="text-3xl font-bold text-center text-white mb-2">Dados de Entrada</h2>
                    <div>
                        <p class="font-medium text-white">Nome de Exibição:</p>
                        <div class="flex mx-5 mb-2">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                                <i class="fa-solid fa-user-tag"></i>
                            </span>
                            <input type="text" name="username" class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Nome de Exibição" required>
                        </div>
                    </div>
                    <div>
                        <p class="font-medium text-white">ID da Sala:</p>
                        <div class="flex mx-5 mb-2">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                                <i class="fa-solid fa-comment"></i>
                            </span>
                            <input type="number" name="room" class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
                                placeholder="ID da Sala" min="0" max="9999" required>
                        </div>
                    </div>
                    <button type="submit" class="rounded-full bg-white mt-2 p-1 hover:bg-slate-400 border-black">Confirmar</button>
                </form>
            </div>
        </div>
        

</body>
</html>