<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
</head>
<body>
    <h1>Chat App</h1>
        <h3>Olá,
            {% if current_user.is_authenticated %} {{ current_user.username }}{% else %} Anônimo! {% endif %}
        </h3>
        <form action="/chat">
            <div>
                <label>Nome de Usuário:</label>
                <input typé="text" name="username"> 
            </div>
            <div>
                <label>ID da Sala:</label>
                <input typé="text" name="room"> 
            </div>
            <button type="submit">Confirmar</button>
        </form>
</body>
</html>