<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalaQui</title>
</head>
<body>
    <h1>FalaQui</h1>
        <h3>Olá,
            {% if current_user.is_authenticated %}
                {{ current_user.username }} <a href="/logout/" style="text-decoration: none;"> <button> Sair</button></a>
                {% else %} Anônimo! 
            {% endif %}
        </h3>
        <form action="/chat">
            <div>
                <label>Nome de Usuário:</label>
                <input typé="text" name="username"> 
            </div>
            <div>
                <label>ID da Sala:</label>
                <input typé="text" name="room"> 
            </div>
            <button type="submit">Confirmar</button>
        </form>

    {% if not current_user.is_authenticated %} <!-- Account-related Buttons-->
        <div class="login-btns">
            <a href="/login" style="text-decoration: none;">
                <button>
                    Login
                </button>
            </a>
            <a href="/register" style="text-decoration: none;">
                <button>
                    Cadastrar
                </button>
            </a>
        </div>

    {% endif %}
        

</body>
</html>