<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/tailwind.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>FalaQui - Login</title>
</head>
<body class="bg-[url('../static/img/background-index.png')]"> <!-- gradient-to-r from-sky-500 to-indigo-500 mt-1  -->
    <div style="display: flex; justify-content:center;"> 
        <a href="/" style="text-decoration: none;">
            <h1 class="text-5xl font-bold text-center text-white">FalaQui</h1>
        </a>
    </div>

    <h3> {{message}}</h3> <!-- TODO: Use sweet alert to show this -->
    <div class="flex justify-center items-center">
        
        <div class="container bg-blue-950 text-center border border-black rounded-full w-3/6 mt-5">
            <h2 class="text-3xl font-bold text-center text-white mb-2"> Login </h2>
            <form method="post" action="/login" class="my-5">
                <div>
                    <p class="font-medium text-white">Nome de Usuário:</p>
                    <input type="text" name="username" required class="rounded-full bg-white border p-1">  
                </div>
                <div class="space-y-2">
                    <p class="font-medium text-white">Senha:</p>
                    <input type="text" name="password" required class="rounded-full bg-white p-1"> 
                </div>
                <button type="submit" class="rounded-full bg-white mt-2 p-1 hover:bg-slate-400 border-black">Confirmar</button>
            </form>
        </div>
    </div>
</body>
</html>