<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalaQui - Cadastro</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/tailwind.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gradient-to-r from-sky-500 to-indigo-500 mt-1">
    <h1>FalaQui</h1>
        <h3> {{message}}</h3>
        <form method="post" action="/register/">
            <div>
                <label>Nome de Usuário:</label>
                <input type="text" name="username" required> 
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="email" required> 
            </div>
            <div>
                <label>Senha:</label>
                <input typé="text" name="password" required>

                <label>Confirmar Senha:</label>
                <input typé="text" name="passwordConfirm" required> 
            </div>
            <button type="submit">Confirmar</button>
        </form>
</body>
</html>