<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" fav>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/1324b10db2.js" crossorigin="anonymous"></script>
    <title>FalaQui - Cadastro</title>
</head>
<body class="bg-[url('../static/img/background-index.png')]">
    <a href="/" style="text-decoration: none;">
        <h1 class="text-5xl font-bold text-center text-white">FalaQui</h1>
    </a>
        {% if message %}
            <p class="error-msg" style="display: none;">{{message}}</p>
        {% endif %}

        <div class="flex justify-center items-center">
            <div class="container bg-white text-center border border-black rounded-md w-3/6 mt-5">
                <form method="post" action="/register/" class="my-5">
                    <h2 class="text-3xl font-bold text-center mb-2">Registrar Nova Conta</h2>

                    <p class="font-medium">Email:</p>
                    <div class="flex mx-5 mb-2">
                        <div class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input type="email" name="email" class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Endereço de Email" autofocus required>
                    </div>

                    <p class="font-medium">Nome de usuário:</p>
                    <div class="flex mx-5 mb-2">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input type="text" name="username" class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Nome de usuário" required>
                    </div>
                    
                    <div> <!-- Passwords -->
                        <p class="font-medium">Senha:</p>
                        <div class="flex mx-5 mb-2">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input type="password" minlength="6" id="password" name="password" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Senha" required>
                            <div class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-gray-300 rounded-r-lg">
                                <button type="button" onclick="showPassword()">
                                    <i id="passwordIcon" class="fa-solid fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
        
                        <p class="font-medium ">Confirmar Senha:</p>
                        <div class="flex mx-5 mb-2">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input type="password" id="password2" minlength="6" id="passwordConfirm" name="passwordConfirm" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Confirmar Senha" required>
                            <div class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-gray-300 rounded-r-lg">
                                <button type="button" onclick="showPassword2()">
                                    <i id="passwordIcon2" class="fa-solid fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" id="submitBtn" class="rounded-full bg-blue-700 mt-2 p-1 hover:bg-blue-900 border-black">Confirmar</button>
                </form>
            </div>
        </div>

        <script>
            const error = document.querySelector('.error-msg')

            if(error){
                Swal.fire({
                    title: 'Erro!',
                    text: error.innerHTML,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            }

            function showPassword() {
                const passwordInput = document.querySelector('#password')
                const passwordIcon = document.querySelector('#passwordIcon')
    
                if(passwordInput.type === 'password'){
                    passwordInput.type = 'text'
                    passwordIcon.classList = "fa-solid fa-eye"
                } else {
                    passwordInput.type = 'password'
                    passwordIcon.classList = "fa-solid fa-eye-slash"
                }
            }

            function showPassword2() {
                const passwordInput = document.querySelector('#password2')
                const passwordIcon = document.querySelector('#passwordIcon2')
    
                if(passwordInput.type === 'password'){
                    passwordInput.type = 'text'
                    passwordIcon.classList = "fa-solid fa-eye"
                } else {
                    passwordInput.type = 'password'
                    passwordIcon.classList = "fa-solid fa-eye-slash"
                }
            }
        </script>
</body>
</html>